.rb_box {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;

  opacity: 0.91;
  backdrop-filter: blur(11.1px);
  background-image: linear-gradient(to top, #010b1e, #020b1c 100%);
}

.rb_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;

  height: 60px;
}

.rb_userName {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.3px;
  color: #afafaf;
}

.rb_profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.rb_options {
  width: 15px;
  height: 9px;
  color: #e1e1e1;
}

.rb_middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  cursor: default;
}

.rb_friendActivity {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 1.63px;
  text-align: left;
  color: #3b4c64;
  text-transform: uppercase;
}

.rb_friendsMessage {
  width: 234px;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.3px;
  text-align: center;
  color: #afafaf;
}

.rb_upgrade {
  width: 258.8px;
  height: 45px;
  border-radius: 22.5px;
  background-image: linear-gradient(to left, #1ed761, #1e64d7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rb_upgrade_text {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  letter-spacing: 0.06px;
  text-align: center;
  color: #212020;
  text-transform: uppercase;
}

.rb_end {
  display: flex;
  justify-content: center;
}

.rb_logo {
  height: 90px;
  width: 280px;
  object-fit: cover;
  object-position: center center;
}
